@{
    ViewBag.Title = "Mixr";
}

<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui raised segment">
            <div class="ui icon message">
                <i class="red lab icon"></i>
                <div class="content">
                    <div class="header">
                        Experiment!
                    </div>
                    <p>Discover new drinks, then rate and comment on the ones you liked (or didn't like)...</p>
                </div>
            </div>
        </div>

        <div class="ui piled raised segment">
            <div class="ui red ribbon label">Concoctions</div>

            <div class="ui divided list">
                <div class="item">
                    <div class="header">Dr. Pepper</div>
                    <div class="ui heart rating">
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                    </div>
                    <div>Very tasty and rich in flavor.</div>
                </div>
                <div class="item">
                    <div class="header">Sprite</div>
                    <div class="ui heart rating">
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                    </div>
                    <div>Clean and fresh.</div>
                </div>
                <div class="item">
                    <div class="header">Coke</div>
                    <div class="ui heart rating">
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                    </div>
                    <div>Down and dirty.</div>
                </div>
            </div>
        </div>

        <div class="ui raised segment">
            <div class="ui red ribbon label">Invent something</div>

            <div class="ui form">
                <div class="ui grid">
                    <div class="sixteen wide column">

                        <div class="ui small icon input">
                            <input type="text" placeholder="Name" class="small" />
                            <i class="lab icon"></i>
                        </div>

                        <br /><br />
                        <div class="ui large heart rating">
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                        </div>

                        <br /><br />
                        <div class="ui small icon input">
                            <textarea placeholder="Comments" class="small"></textarea>
                            <i class="comment icon"></i>
                        </div>

                    </div>

                    <div class="sixteen wide column" style="text-align: right">
                        <input type="submit" class="ui small circular red button" value="Create" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
